<!-- start custom footer snippets -->
<div style="width: 250px !important;height: 50px !important;"><div style="display: block;"><a href="http://bumerang.hurriyet.com.tr" class="BoomadsButtonLink167" target="_blank"><img src="https://widget.boomads.com/images/bumerangWidget/bumerang-taçlı-25050-orange.gif" alt="Bumerang - Yazarkafe"/></a></div> </div><script type="text/javascript">
boomads_widget_client = "130f83e90f7147b9bdfb8f7b4ec68834";
boomads_widget_id = "167";
boomads_widget_width = "0";
boomads_widget_height = "0";
boomads_widget_trackingparameter = "http://bumerang.hurriyet.com.tr";
</script><script type="text/javascript" src="https://widget.boomads.com/scripts/widget.js"></script>
<br>
<br>
<a href="https://m.do.co/c/777666eaf60d">@DigitalOcean'da SSD bulut sunucusu kurun. Buraya tıklayarak kaydolun ve 10 ABD doları kredi kazanın.</a>
<!-- end custom footer snippets -->
