---
title: "Hakkımızda"
layout: splash
date: 2019-12-08T00:00:00-03:00
header:
excerpt: ""
intro: 
  - excerpt: '<h1><bold>Hackerlar</bold>, ziyaret ettiğiniz web siteleri ve daha fazlası sizi izleyebilir. </h1><br> İnsanlar seni gözetliyor. Bunlar halka açık bilgileriniz. <br><script type="text/javascript" src="//ipaddress.is/ipwidget.php?type=1&nosys=1"></script><br>Seni korumaya çalışıyoruz.'
feature_row:
  - image_path: /assets/images/vpn_img1.jpg
    alt: "VPN seni korur"
    title: "Sen yaz. Biz paylaşalım. Gururla."
    excerpt: 'Kendi özgün içeriğini yaz, inceleyelim ve kaynak belirtip yayınlayalım.'
    url: "mailto:proxima@ekofi.science"
    btn_label: "Yazını gönder"
    btn_class: "btn--primary"
wecarinbro:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    title: "Künye"
outro:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    title: ""
    excerpt: ""
    url: ""
    btn_label: ""
    btn_class: ""
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    title: "Ferhat Suat Erdoğan"
    excerpt: "Lise öğrencisi, 17 yaşında. Ekofi Bilim'in kurucusu ve sahibi.<br>İletişim için: ferhat@ekofi.science"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: ""
    excerpt: ""
    url: ""
    btn_label: ""
    btn_class: ""

---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row" type="left" %}
{% include feature_row id="wecarinbro" type="center" %}
{% include feature_row id="outro" %}

